<form novalidate name="arrMapContainer" class="mapContainer form-inline">
  <div id="arrMap"></div>
  <div class="directions form-group" ng-show="directions || directions==undefined">
    <!-- <label>Origin:</label> -->
    <input type="text" class="form-control" ng-model="destination" placeholder="Destination:" required>
    <!-- <label>Destination:</label> -->
    <!-- <input ng-model="endPoint" type="text" disabled> -->
    <button class="getDirections btn" ng-click="getDirections()" ng-disabled="arrMapContainer.$invalid">Get Directions</button>
    <!-- <button class="clearDirections alert" ng-click="clearDirections()" ng-disabled="mapContainer.$invalid">Clear</button> -->
    <!-- <div id="arrdirectionsList"></div> -->
  </div>

</form>
