<div class="dashboard-wrapper">


  <!-- === Search Wrapper === -->

  <div class="container search-wrapper" ng-hide="flightInfo">

    <form class="form-inline text-center" ng-submit="findFlight()">
      <div class="form-group">
        <input type="text" class="form-control" ng-model="searchData.airline" placeholder="Airline" required>
        <input type="text" class="form-control" ng-model="searchData.flight" placeholder="Flight Number" required>
        <input type="text" class="form-control year" ng-model="searchData.year" placeholder="Year">
        <select class="form-control" ng-model="searchData.month">
          <option value="1">January</option>
          <option value="2">February</option>
          <option value="3">March</option>
          <option value="4">April</option>
          <option value="5">May</option>
          <option value="6">June</option>
          <option value="7">July</option>
          <option value="8">August</option>
          <option value="9">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
        </select>
        <input type="text" class="form-control day" ng-model="searchData.day" placeholder="Day">
        <input type="submit" class="btn btn-success" value="Get Info">
      </div>
    </form>

  </div>






  <div class="container" ng-if="loaded">
    <section class="flight-wrapper clearfix">
      <span class="status" ng-class="statusColor">FLIGHT STATUS</span>
      <span><strong>Flight #:</strong> {{flightInfo.flightNumber}}</span>
      <span><strong>Airline:</strong> {{flightInfo.carrier.name}}</span>
      <span><strong>Duration:</strong> {{duration | number: 2}} hrs</span>
      <span class="phone"><strong>Call:</strong>
      <a href="tel:{{flightInfo.carrier.phoneNumber}}" alt="">{{flightInfo.carrier.phoneNumber}}</a></span>
    </section>

    <section class="toggle-wrapper clearfix">
      <div class="col-xs-6">
        <span class="departure" ng-click="togglePannel('departure')" ng-class="{show:(showPannel == 'departure')}">Departure</span>
      </div>
      <div class="col-xs-6">
        <span class="arrival" ng-click="togglePannel('arrival')" ng-class="{show:(showPannel == 'arrival')}">Arrival</span>
      </div>
    </section>



  <!-- === Departure Wrapper === -->

    <div class="col-sm-6 pannel departure-wrapper" ng-class="{show:(showPannel == 'departure')}">
      <section class="airport-wrapper">
        <h2 class="timer text-center" ng-hide="takenOff">
          <span class="title">TAKEOFF TIMER:</span>
          <timer ng-if="loaded" end-time="{{dTime}}">{{days}}:{{hours}}:{{minutes}}:{{seconds}}</timer>
        </h2>

        <h1>{{flightInfo.departureAirport.fs}}</h1>
        <span>{{flightInfo.departureAirport.name}}</span>
        <p>
          <span ng-show="flightInfo.airportResources.departureTerminal">
          <strong>Terminal:</strong> {{flightInfo.airportResources.departureTerminal}}</span>
          <span ng-show="flightInfo.airportResources.departureGate">
          <strong>Gate:</strong> {{flightInfo.airportResources.departureGate}}</span>
          <span><strong>Time:</strong> {{dTime | date: 'EEE h:mm a'}}</span>
        </p>

        <p class="text-danger"ng-show="takenOff">Your flight has taken off.</p>

      </section>
      <section class="local-wrapper clearfix">

        <div class="weather-wrapper">
          <div class="current">
            <p>{{depCurrent.summary}}</p>
            <span class="temp">{{depTemp}} &deg;</span>
            <img ng-src="/images/{{depCurrent.icon || default }}.svg" alt="weather icon"/>
          </div>
          <div class="week clearfix" ng-repeat="day in depDaily | limitTo: 5 ">
            <span class="day">{{ (day.time * 1000) | date:'EEE' }}</span>
            <img class="icon" ng-src="/images/{{day.icon}}.svg" alt="">
            <span class="temp min text-info"> {{day.temperatureMin | number: 0}}&deg;</span>
            <span class="temp max text-warning">{{day.temperatureMax | number: 0}}&deg;</span>
          </div>
        </div>

        <div id="dMap" class="map-wrapper">
          <map ng-if="loaded"  destination="{{deplat}},{{deplon}}"></map>
        </div>

        <div id="directionsList" class="directions-wrapper clearfix"></div>


      </section>
      <section class="services-wrapper">
        <!-- <h3>Directions</h3> -->
        <div id="directionsList"></div>

        <h3>Airport Eats</h3>
        <section class="food-wrapper">
          <p class="text-danger" ng-show="(depFoursquare.length < 1 )"><em>All options currently closed!</em></p>
          <table class="table">
            <tbody>
              <tr ng-repeat="item in depFoursquare">
                <td>{{item.venue.name}}</td>
                <td>{{item.venue.price.currency}}</td>
                <td>{{item.venue.rating}} <span class="stars"><rating ng-model="item.venue.rating" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating></span></td>
                <td></td>
                <td><label ng-show="item.venue.hours.isOpen" class="label label-success">Open</label></td>
              </tr>
            </tbody>
          </table>
        </section>

      </section>
    </div>



  <!-- === Arrival Wrapper === -->

    <div class="col-sm-6 pannel arrival-wrapper" ng-class="{show:(showPannel == 'arrival')}">
      <section class="airport-wrapper">
        <h1>{{flightInfo.arrivalAirport.fs}}</h1>
        <span>{{flightInfo.arrivalAirport.name}}</span>
        <p>
          <span><strong>Terminal:</strong> {{flightInfo.airportResources.arrivalTerminal}}</span>
          <span><strong>Time:</strong> {{aTime | date: 'EEE h:mm a'}}</span>
        </p>

      </section>
      <section class="local-wrapper clearfix">

        <div class="weather-wrapper">
          <div class="current">
            <p>{{arrCurrent.summary}}</p>
            <span class="temp">{{arrTemp}} &deg;</span>
            <img ng-src="/images/{{ arrCurrent.icon || default }}.svg" alt="weather icon"/>
          </div>
          <div class="week clearfix" ng-repeat="day in arrDaily | limitTo: 5 ">
            <span class="day">{{ (day.time * 1000) | date:'EEE' }}</span>
            <img class="icon" ng-src="/images/{{day.icon}}.svg" alt="">
            <span class="temp min text-info"> {{day.temperatureMin | number: 0}}&deg;</span>
            <span class="temp max text-warning">{{day.temperatureMax | number: 0}}&deg;</span>
          </div>
        </div>

        <div id="aMap" class="map-wrapper">
          <arrmap ng-if="loaded"  origin="{{arrlat}},{{arrlon}}"></arrmap>
        </div>

        <div id="arrDirectionsList" class="directions-wrapper clearfix"></div>

        <div ng-if="international">
          <div class="local-stat">
            <p>Local Time:</p>
          </div>
          <div class="local-stat">
            <p>Language:</p>
          </div>
          <div class="local-stat">
            <p>Exchange Rate:</p>
          </div>
        </div>

      </section>
      <section class="services-wrapper">
        <!-- <h3>Directions</h3> -->


        <h3>Airport Eats</h3>
        <section class="food-wrapper">
          <p ng-show="(arrFoursquare.length < 1 )"><em>All options currently closed!</em></p>
          <table class="table">
            <tbody>
              <tr ng-repeat="item in arrFoursquare">
                <td>{{item.venue.name}}</td>
                <td>{{item.venue.price.currency}}</td>
                <td>{{item.venue.rating}} <span class="stars"><rating ng-model="item.venue.rating" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating></span></td>
                <td><label ng-show="item.venue.hours.isOpen" class="label label-success">Open</label></td>
              </tr>
            </tbody>
          </table>
        </section>

      </section>
    </div>

  </div>



</div> <!-- end dashboard-wrapper -->

