<div ng-app="DepartureApp">
  <nav class="nav-wrapper" ng-controller="NavCtrl">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button ng-show="navShow" type="button" ng-click="isCollapsed = !isCollapsed" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
         <img src="/images/departure-brand-logo-green.svg" alt=""> DEPARTURE
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div collapse="isCollapsed" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul ng-show="navShow" class="nav navbar-nav navbar-right">
          <li><a href="/flight" class="btn btn-info btn-sm">New Flight</a></li>

        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <ng-view></ng-view>

  <footer>
  </footer>
</div>
